@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-card-title {
  position: relative;
}

.blog-card-title::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 300ms;
}

.blog-card-title:hover::after {
  transform: translateX(0);
}

.blog-content > h2 {
  @apply text-2xl font-medium pt-5 text-white
}

.blog-content > ol {
  @apply pl-10 flex flex-col gap-3 list-decimal
}

.blog-content a {
  @apply text-blue-300 underline underline-offset-4
}
